body{
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14pt;
    line-height: 16pt;
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    padding: 0;
}
.clearfix/*::after*/ {
    content: "";
    /*display: table;*/
    clear: both;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.page-header {
    height: 350px;
    background-color: rgb(175, 173, 161);
    background-image: url("3.jpg");
    background-repeat:  no-repeat;
    color:  rgb(104, 102, 94);
    background-position: center;
}

.navigation {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 20px;
}
.navigation li{
    float: left;
    margin-right: 30px;
    text-transform: uppercase;
    font-size: 16pt;
    line-height: 18pt;
}
.navigation a:hover {
    text-decoration: underline overline;
}
.page-header h1 {
    float: left;
    font-size: 36pt;
    line-height: 38pt;
}

.scroll {
    display: inline-block;
    position: absolute;
    bottom: 10%;
    left: 50%;
    border: 1px solid  rgb(240, 234, 223);
border-radius: 50px;
padding: 30px;
opacity: 0.3;
}

.scroll:hover {
    opacity: 1;
}

.page-main {
    height: auto;
    background-color: white;
    padding-bottom: 20px;
}

.skill-icon {
    width: 50px;
    height: auto;
}

.site-list {
    list-style: none;
}

.site-list li {
    float: left;
    border-right: 1px solid grey;
    padding: 20px;
}

.site-list li:last-child {
    border: none;
}

.site-list img {
    width: 200px;
    height: auto;
}

.contact-list, .social {
    list-style: none;
    position: relative;
}

.contact-item,
.social-item {
    padding: 20px;

}

.contact-item::before {
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    background-repeat: no-repeat;
    left: 0;
    top: 5px;
}

.phone::before {
    background-image: url("phone.png");
}

.mail::before {
    background-image: url("mail.png");
    top: 70px;
}
/*
.fb::before {
    background-image: url("facebook.png");
}

.ln::before {
    background-image: url("linkedin.png");
    left: 180px;
}

.git::before {
    background-image: url("git.png");
    left: 310px;
}
*/
.social-item {
    float: left;
}

.page-footer {
    height: 100px;
    background-color: lightgray;
}

.page-footer p {
    text-align: center;
    color: gray;
    margin-top: 30px;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 8pt;
    }
    .page-header {
        height: auto;
    }
    .site-list li {
    border: none;
    }
}
