@keyframes karusel {
    0%   {background-image: url('3.jpg');}
    20%  {background-image: url('2.jpg');}
    40%  {background-image:url('1.jpg');}
    60% {background-image:url('4.jpg');}
    80% {background-image:url('5-1.jpg');}
    100% {background-image:url('6.jpg');}
}

body{
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16pt;
    line-height: 18pt;
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    padding: 0;
}

.clearfix/*::after*/ {
    content: "";
    /*display: table;*/
    clear: both;
}

a {
    text-decoration: none;
    color: inherit;
}

.flex {
    display: flex;
    flex-flow: column nowrap;
}
h2 {
    color: #205CCE;
}
.container {
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
}

.page-header {
    height: 100vh;
    background-color: rgb(175, 173, 161);
    background-image: url("3.jpg");
    background-repeat:  no-repeat;
    color:  #205CCE;
    background-position: center;
    background-size: cover;
    position: relative;
    /*  this is for changing pictures on load 
    animation-name: karusel;
    animation-duration: 15s;
    */
}
.menu {
    
    cursor: pointer;
    position: relative;
    float: right;
    top: 20px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #205CCE;
    margin: 6px 0;
    transition: 0.4s;

}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.nav-block {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    visibility: hidden;
    z-index: 1;
}

.navigation {
    list-style: none;
    margin: 15px auto;
    padding: 15px;
    width: 200px;
    height: 130px;
    border: 1px solid darkblue;
    border-radius: 10px;   
}
.navigation li{
    text-transform: uppercase;
    font-size: 16pt;
    line-height: 18pt;
    padding: 5px 0;
    margin: 5px 0;
    border: 1px solid darkblue;
    border-radius: 10px;
    text-align: center;
    
}
.navigation li:hover {
    background: #ffffff;
}

.hidden {
    visibility: unset;
}
/* for fading background-image
.page-header:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 350px;
    z-index: 1;
    opacity: 0.6;
    background-image: url("3.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
*/
.page-header h1 {
    /*float: left; -- this is for old style */
    font-size: 36pt;
    line-height: 38pt;
    letter-spacing: 3px;
   /* margin: 15px 0;*/ 
   /* New style for parallax starts here*/
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -247px;
    margin-top: -50px;
}

.page-main {
    height: auto;
    background: white;
    padding-bottom: 20px;
}

.my-photo {
    width: 100%;
    height: auto;
    border-radius: 50px;
}

/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    float: right;
    border-radius: 50px;
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 50px;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 50px;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-box-back {
    background-color: rgb(175, 173, 161);
    color: white;
    transform: rotateY(180deg);
  }

.skill-icon {
    width: 80px;
    height:auto;
    
}

.skill-icon:hover {
    transform-origin: center;
    transform: rotate(360deg);
    transition: transform 500ms linear;
}

.site-list {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
   /* height: 200px; */
}

.site-list li {
   /* float: left; --- no need as ul is flex element */
    border-right: 1px solid grey;
    padding: 10px 20px;
    
}

.site-list li:last-child {
    border: none;
}

.site-list img {
    width: 300px;
    height: auto;
    
}
.contact-part {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.contact-list, .social {
    list-style: none;
    position: relative;
}

.contact-item,
.social-item {
    padding: 20px;
}

.contact-item::before {
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    background-repeat: no-repeat;
    left: 0;
    top: 5px;
}

.phone::before {
    background-image: url("phone.png");
}

.mail::before {
    background-image: url("email.png");
    top: 70px;
}

.social-item {
    float: left;  
}

    /* - li links are not clicking, came back to old style;
    
   /* width: 40px;
    height: 40px;
    background: url('scl-block.png'), no-repeat; 
}

.ln {
    background-position: 0 -70px;
}

.git {
    background-position: 0 80px;
}
*/

.contact-form {
    display: inline-block;
  
}

#send-btn {
    width: 100px;
    height: 30px;
}
input, textarea{
    margin: 10px;
    padding: 5px;
}

input[type="text"] {
    width:  230px;
}

.contact-form p {
    color: #205CCE;
    font-size: 16pt;
}


.page-footer {
    height: 100px;
    background-color: lightgray;
}

.page-footer p {
    text-align: center;
    color: gray;
    margin-top: 30px;
}

@media only screen and (max-width: 500px) {
    body {
        font-size: 8pt;
        margin: 0 auto;
    }
    .page-header {
        height: auto;
    }
   
    .flip-box{
        margin: 10px auto;
        float: none;
        width: 250px;
        height: 250px;
    }
    .site-list li {
        padding: 0 0 15px 0;
        border: none;
    }
    .site-list img {
        width: 75%;
    }
    .site-list {
        height: auto;
        padding: 0;
    }
}

@media only screen and (max-width: 770px) {
    body {
        font-size: 8pt;
        margin: 0 auto;
    }
    .page-header {
        height: auto;
        animation-name: karusel;
        animation-duration: 15s;
    }

    .page-header h1 {
       float: left;
       margin: 15px;
       
       top: 0%;
       left: 0%;
       width: 70%;
    }
    .flip-box{
        margin: 10px auto;
        float: none;
        width: 250px;
        height: 250px;
    }
    .site-list li {
        padding: 0 0 15px 0;
        border: none;
        margin: 0 auto;
    }
    .site-list img {
        width: 75%;
    }
    .site-list {
        height: auto;
        padding: 0;
    }
}